.popup__text-input-container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 57px;
  align-self: center;
  flex-direction: column;
}

.popup__text-input-container:last-of-type {
  height: 75px;
}

@media screen and (max-width: 700px) {

  .popup__text-input-container {
    height: 70px;
  }

  .popup__text-input-container:last-of-type {
    height: 75.26px;
  }
}