.page {
  padding: 0;
	margin: 0 auto;
  display: flex;
  flex-direction: column;
	max-width: 1280px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: black;
	color: white;
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
  }
}