.header__link {
  all: unset;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  align-self: flex-end;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .header__link {
    margin-right: 27px;
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 500px) {
  .header__link {
    max-width: 104px;
    max-height: 25px;
  }
}