.popup__save_add_disabled {
  opacity: 0.2;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.popup__save_add_disabled:hover {
  opacity: 0.2;
  cursor: none;
  pointer-events: none;
}